name: Send HTTP Request on PR Create/Update

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  send_http_request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Send HTTP Request
        run: |
          PR_NUMBER=$GITHUB_EVENT_NUMBER
          PR_TITLE=$GITHUB_EVENT_PULL_REQUEST_TITLE
          PR_BODY=$GITHUB_EVENT_PULL_REQUEST_BODY
          PR_URL=$GITHUB_EVENT_PULL_REQUEST_HTML_URL
          HTTP_URL="YOUR_HTTP_ENDPOINT_URL_HERE"
          
          # Construct JSON payload
          JSON_PAYLOAD="{\"pr_number\": \"$PR_NUMBER\", \"pr_title\": \"$PR_TITLE\", \"pr_body\": \"$PR_BODY\", \"pr_url\": \"$PR_URL\"}"

          # Send HTTP POST request
          curl -X POST -H "Content-Type: application/json" -d "$JSON_PAYLOAD" "$HTTP_URL"
